#settings-sections a.rounddav_provision,
#settings-sections li.rounddav_provision > a,
a.listitem.rounddav_provision,
li.rounddav_provision > a {
  background-image: url('./images/rounddav_provision.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 8px center !important;
  background-size: 18px 18px !important;
  padding-left: 36px; /* ensure text doesn't overlap the icon */
}

/* Active/hover/selected state */
#settings-sections a.rounddav_provision.selected,
#settings-sections li.rounddav_provision.selected > a,
a.listitem.rounddav_provision.selected,
a.listitem.rounddav_provision:focus,
a.listitem.rounddav_provision:hover,
li.rounddav_provision > a.selected,
li.rounddav_provision > a:focus,
li.rounddav_provision > a:hover {
  background-image: url('./images/rounddav_provision_act.svg') !important;
}

/* Settings section row */
#sections-table tbody #rcmrowrounddav_provision td.section {
  background-image: url(images/rounddav_provision.svg);
  background-position: 5px 2px;
  background-repeat: no-repeat;
  background-size: 20px auto; /* 15px wide, same position */
}

#sections-table tbody #rcmrowrounddav_provision.selected td.section {
  background-image: url(images/rounddav_provision_act.svg);
  background-repeat: no-repeat;
  background-position: 5px 2px;
  background-size: 20px auto; /* 15px wide, same position */
}
